.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 56px;
}

.searchInp {
  width: 500px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 16px;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--color-60);
  padding: 16px 40px;
}

.searchInp::placeholder {
  opacity: 0.5;
}

.container form{
    position: relative;
}

.container svg {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--color-10);
}
