.card {
  background-color: var(--color-30);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 32px 10px 32px;
  border-radius: 16px;
  width: 336px;
  position: relative;
}

.link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  gap: 8px;
}

.cardInfo p:nth-child(1) {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
}

.cardInfo p:nth-child(2) {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
  display: flex;
  gap: 8px;
}

.cardInfo p:nth-child(2) span {
  color: var(--color-10);
}

.cardInfo p:nth-child(3) {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--color-60);
}

.buttonFavorite {
  border: none;
  color: var(--color-90);
  background-color: transparent;
  cursor: not-allowed;
  font-size: 1.5rem;
  line-height: 2rem;
  position: absolute;
  top: 28px;
  right: 28px;
}
