@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-10: #f8b602;
  --color-20: #a6c44a;
  --color-30: #ffffff;
  --color-40: #2e2e2e;
  --color-50: #c4c4c4;
  --color-60: #a098ae;
  --color-70: #f5f5f5;
  --color-80: #eb5757;
  --color-90: #dbdbdb;
}
