.bold {
  font-weight: bold;
}

.titlePage {
  font-size: 2.5rem;
  line-height: 2.75rem;
  display: flex;
}

.titlePage::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: 1.6rem;
  background-color: var(--color-10);
}

.subtitle {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.sectionTitle {
  font-size: 1.5rem;
  line-height: 2rem;
}

.cardTitle {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
